<article
  class="d-flex justify-content-center align-items-center vh-100 bg-light"
>
  <div class="text-center">
    <h1 class="display-4 mb-4">Acción realizada con éxito.</h1>
    <a href="/">Volver al Inicio</a>
  </div>
</article>