<article
  class="d-flex justify-content-center align-items-center vh-100 bg-light"
>
  <div class="text-center">
    <h1 class="display-4 mb-4">Registro</h1>
    <form action="/registro" method="POST" class="mb-4" id="registro-form">
      <div class="mb-3">
        <label for="name" class="form-label">Nombre:</label>
        <input
          type="text"
          class="form-control"
          id="name"
          name="name"
          placeholder="Tu nombre"
          required
        />
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email:</label>
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          placeholder="ejemplo@correo.com"
          required
        />
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Contraseña:</label>
        <input
          type="password"
          class="form-control"
          id="password"
          name="password"
          placeholder="Tu contraseña"
          required
        />
      </div>
      <div class="mb-3">
        <label for="confirm-password" class="form-label">Confirmar Contraseña:</label>
        <input
          type="password"
          class="form-control"
          id="confirm-password"
          name="confirm-password"
          placeholder="Confirma tu contraseña"
          required
        />
      </div>
      <button
        type="button"
        onclick="validateRegistrationForm()"
        class="btn btn-outline-dark btn-lg"
        id="submit-button"
      >Registrarse</button>
    </form>
    <div id="errors">

    </div>
    <div class="mt-3">
      <a href="/login" class="text-dark">¿Ya tienes cuenta? Inicia sesión</a>
    </div>
  </div>
</article>

<script src="/utils/validations.js"></script>